/*
 * Настройки для основного текста
 */
$font-family-text-base      : 'Open Sans', sans-serif; // Семейство шрифтов
$font-weight-text-base      : 400; // Толщина текста
$font-size-text-base        : 16px; // Базовый размер текста
$font-size-text-small       : 0.75rem; // Размер маленького текста
$line-height-text-base      : 1.5; // Высота строки текста
$letter-spacing-text-base   : auto; // Межсимвольный интервал
$text-transform-text-base   : unset;
$color-text-base            : var(--text-color-main); // Основной цвет текста

/*
 * Настройки для заголовков
 */
$font-family-header-base    : 'Open Sans', sans-serif;
$font-weight-header-base    : 600;
$line-height-header-base    : 135%;
$letter-spacing-header-base : auto;
$text-transform-header-base : unset;
$color-header-base          : var(--text-color-main);

/*
 * Настройки для параграфов
 */
$paragraph-margin-top       : 0;
$paragraph-margin-bottom    : 1rem;

:root, body, html {
  @include ad-font(18, 14);
  font-family    : $font-family-text-base;
  font-weight    : $font-weight-text-base;
  line-height    : $line-height-text-base;
  letter-spacing : $letter-spacing-text-base;
  text-transform : $text-transform-text-base;
  color          : $color-text-base;
}

h1, h2, h3, h4, h5, h6, .title {
  margin         : 0 0 2rem 0;
  font-family    : $font-family-header-base;
  font-weight    : $font-weight-header-base;
  line-height    : $line-height-header-base;
  letter-spacing : $letter-spacing-header-base;
  text-transform : $text-transform-header-base;
  color          : $color-header-base;
}

// Максимальный и минимальный размер адаптивного размера шрифта
h1, .title-h1 {
  @include ad-font(64, 24); //Max, Min font-size h1
}

h2, .title-h2 {
  @include ad-font(48, 33) //Max, Min font-size h2
}

h3, .title-h3 {
  @include ad-font(37, 27) //Max, Min font-size h3
}

h4, .title-h4 {
  @include ad-font(28, 23) //Max, Min font-size h4
}

h5, .title-h5 {
  @include ad-font(21, 19) //Max, Min font-size h5
}

h6, .title-h6 {
  @include ad-font(16, 16) //Max, Min font-size h5
}

.display-small {
  @include ad-font(64, 37);
}

.display-max {
  @include ad-font(128, 98);
}


small, .text_small {
  font-size : $font-size-text-small;
}

blockquote {
  font-style  : italic;
  margin      : 0 0 1rem;
  padding     : 1em;
  font-weight : 300;
}

.remark {
  opacity : .7;
  @include ad-font(14, 12);
}

p {
  margin-top    : $paragraph-margin-top;
  margin-bottom : $paragraph-margin-bottom;
}

pre {
  font-size : .8rem;
}
