// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width : $container-max-width;
    }
  }
}

// Make container
@mixin make-container() {
  margin-right  : auto;
  margin-left   : auto;
  width         : 100%;
  padding-left  : 8px;
  padding-right : 8px;


  @include media-breakpoint-up(lg) {
    padding-left  : 16px;
    padding-right : 16px;
  }
}
